<!DOCTYPEhtml>
<html>
<head>
    <metacharset ="utf-8" />
    <metaname ="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

</head>

<body data-target=".bs-docs-sidebar" data-spy="scroll">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                </button>
                <div class="navbar-brand">
                    <img src="../Images/AmimaCompanyLogo.png" />
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">
                        @Html.ActionLink("About Us", "About", "Home")
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <br /><br />
    <div id="successMessage" class="alert alert-success" style="display: none">
        <a href=" #" class="close" onclick="$('#successMessage').hide()" aria-label="close">
            &times;
        </a>
        Pets added successfully to the cart.
    </div>
    <div id="errorMessage" class="alert alert-danger" style="display: none">

        <a href=" #" class="close" onclick="$('#errorMessage').hide()" aria-label="close">
            &times;
        </a>
        There was a some problem while adding Pet to cart.
    </div>
    <!-- start: Page Title -->
    <div id="page-title">
        <div id="page-title-inner">

            <!-- start: Container -->
            <div class="container">
                <h2>AIMIA PET SHOP! - @ViewBag.Title</h2>
                <div class="divaddtocartimage">
                    <a href="#" class="relativeControl">
                        <div id="CartCount" class="notification" style="display:none">
                        </div>
                        <img src="@Url.Content("~/Images/AddToCart.png")" />
                    </a>
                </div>
            </div>
            <!-- end: Container  -->
        </div>
    </div>


    <div class="container body-content">

        @RenderBody()
        <hr />
    </div>
    <div id="footer">
        <div id="service_property" class="container">
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="span12">
                <p style="font-size: 12px;">
                    © @DateTime.Now.Year, All Rights Reserved.
                    <a href="">
                        AMIMA Enterprises
                    </a>
                </p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
